---
import "../../../styles/global.css";
import Layout from "../../../layouts/RtlLayout.astro"
---

<Layout>
    <main class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
            <h1 class="text-5xl font-bold">من نحن</h1>
            <h2 class="text-lg font-medium opacity-60">من نحن وما هي مهمتنا.</h2>
        </div>
        <article class="flex flex-col gap-4">
            <p>
                نحن <span class="text-brand font-bold">Blue Peace</span>، منظمة غير ربحية مستقلة مكرسة لتوفير بيانات شفافة حول انبعاثات ثاني أكسيد الكربون حول العالم. هدفنا هو جعل المعلومات البيئية المعقدة مفهومة ومتاحة للجميع – من الطلاب إلى صناع القرار.
            </p>
            <p>
                نحن نمول عملنا حصرياً من خلال التبرعات ونعمل بشكل مستقل عن السياسة والاقتصاد.
                وبذلك نضمن أن البيانات المنشورة تكون حيادية، قائمة على الحقائق وخالية من تضارب المصالح.
            </p>
            <p>
                شعارنا هو: <span class="text-brand font-bold">"المعرفة هي الخطوة الأولى نحو العمل".</span>
                نحن نؤمن بأن المعلومات الشفافة هي المفتاح لاتخاذ قرارات مستدامة وتطوير حلول مشتركة لمواجهة تغير المناخ.
            </p>
        </article>
    </main>
</Layout>
