---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
---

<main class="flex flex-col gap-8">
    <div class="flex flex-col gap-2">
        <h1 class="text-6xl font-bold">CO2-Emissionen</h1>
        <h2 class="text-lg font-medium opacity-60">Daten und Fakten.</h2>
    </div>
    <div class="grid grid-cols-2 gap-4">

    </div>
</main>
