---
import "../styles/global.css";
import logo from '../assets/blue_peace_logo.svg';
import MobileMenu from '../components/MobileMenuToggle';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
    <nav class="w-full flex justify-between items-center px-5 pt-5 md:px-10 md:pt-10">
        <a href="/"><img src={logo.src} alt="Blue Peace" class="h-6 md:h-[1.2rem]"/></a>
        <span class="justify-between gap-10 hidden sm:flex">
            <a href={ getRelativeLocaleUrl(lang, '/') } class="hover:underline">{t('nav.home')}</a>
            <a href={ getRelativeLocaleUrl(lang, '/emissions') } class="hover:underline">{t('nav.emissions')}</a>
            <a href={ getRelativeLocaleUrl(lang, '/about') } class="hover:underline">{t('nav.about')}</a>
        </span>
        <div class="block sm:hidden">
            <MobileMenu client:visible locale={lang}/>
        </div>
    </nav>
</header>
