---
import "../styles/global.css";
import logo from '../assets/blue_peace_logo.svg';
import mobileMenu from '../assets/mobile_menu_button.svg';
---

<nav class="w-full flex justify-between items-center px-5 pt-5 md:px-10 md:pt-10">
    <a href="/"><img src={logo.src} alt="Blue Peace" class="h-6 md:h-[1.2rem]"/></a>
    <span class="justify-between gap-10 hidden sm:flex">
        <a href="/" class="hover:underline">Was ist der Klimawandel?</a>
        <a href="/emissions" class="hover:underline">CO₂-Emissionen</a>
        <a href="/about" class="hover:underline">Über uns</a>
    </span>
    <button class="block sm:hidden">
        <img src={mobileMenu.src}>
    </button>
</nav>
