---
import "../styles/global.css";
import logo from '../assets/blue_peace_logo.svg';
---

<nav class="w-full flex justify-between items-center px-10 pt-10">
    <a href="/"><img src={logo.src} alt="Blue Peace" /></a>
    <span class="flex justify-between gap-10">
        <a href="/" class="hover:underline">Was ist der Klimawandel?</a>
        <a href="/emissions" class="hover:underline">CO₂-Emissionen</a>
        <a href="/about" class="hover:underline">Über uns</a>
    </span>
</nav>