---
import "../styles/global.css";
import logo from '../assets/blue_peace_logo.svg';
---
<nav class="w-full flex justify-between items-center px-10 pt-10">
    <img src={logo.src} alt="Blue Peace" />
    <span class="flex justify-between gap-10">
        <a>Was ist der Klimawandel?</a>
        <a>CO₂-Emissionen</a>
        <a>Über uns</a>
    </span>
</nav>
