---
import Header from '../components/Header.astro';
import Footer from "../components/Footer.astro";
---
<!doctype html>
<html lang="en" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Blue Peace</title>
    </head>
    <body class="my-0 mx-auto w-full max-w-[1300px] h-full flex flex-col">
        <Header/>
        <slot />
        <Footer/>
    </body>
</html>
